.topnav {
  background-color: #800080;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #B5C0C9;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #B5C0C9;
  color: white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #800080;
  color: white;
  text-align: center;
}

